.house {
  display: flex;
  justify-content: center;
  margin: 70px;
  &__background {
    position: absolute;
    left: 0;
    background-image: url("../images/plan_of_flat.png");
    background-size: cover;
    background-position: center;
    width: 932.61px;
    height: 605px;
  }

  &__image {
    background-image: url("../images/house_grafic.png");
    width: 1259.08px;
    height: 520.53px;
    background-size: cover;
    background-position: center;
  }
}
